<%= form_with(model: uploader, local: true, html: {multipart: true}) do |form| %>
  <% if uploader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uploader.errors.count, "error") %> prohibited this uploader from being saved:</h2>

      <ul>
        <% uploader.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :uploader_title %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_area :info, id: :uploader_info %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :uploader_photo %>
  </div>

  <div class="field">
    <%= form.label :music %>
    <%= form.file_field :music, id: :uploader_music %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>